<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div id="container">
  <ion-item class="info">
    <ion-label stacked>Username</ion-label>
    <ion-input [(ngModel)]="_userService.username"></ion-input>
  </ion-item>

  <ion-item class="info">
    <ion-label stacked>Password</ion-label>
    <ion-input type="password" [(ngModel)]="_userService.password"></ion-input>
  </ion-item>
  <div text-center margin-top>
    <ion-button margin-right (click)="login()">
      SIGN IN
    </ion-button>
  </div>
  <br>

</div>
</ion-content>
